{% extends 'base.html' %} {% block title %}About{% endblock %} {% block main %}
<h1>About NoteMate</h1>
<p>
  Introducing NoteMate: The Ultimate Note-Taking App NoteMate is a note-taking
  app that allows users to create and organize notes in a simple and efficient
  way. With NoteMate, users can create notes with text and images, categorize
  them, and easily find them with the search and filter features. <br />
  NoteMate allows users to create categories for their notes. Categories can be
  used to group notes by topic, project, or any other relevant criterion. Users
  can create as many categories as they need and assign notes to one or more
  categories. <br />
  NoteMate users can create notes with both text and images. Users can easily
  add images to their notes by taking a photo or selecting one from their photo
  library. This feature is especially useful for users who want to keep track of
  visual information, such as product designs, receipts, or diagrams.
  <br />
  NoteMate has a powerful search and filter feature that makes it easy to find
  specific notes. Users can search for notes by keyword, category, or date. They
  can also filter notes by category, date, or tag. This feature is especially
  useful for users who have a large number of notes and want to quickly find
  specific information. <br />
  NoteMate takes note security seriously. Users can set a passcode to secure
  their notes. This feature ensures that only authorized users can access their
  notes. NoteMate is the ultimate note-taking app for anyone who wants to
  organize their notes efficiently. With its powerful features, users can easily
  create, categorize, find notes and keep them secure.
</p>
{% endblock %}
